@import url("header.css");
@import url("lines.css");
@import url("slogan.css");
@import url("form.css");
@import url("footer.css");
@import url("hamburger-menu.css");
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F7F6F4;
    color: #363636;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
}